

:is(h1,h2,h3,h4,h5,h6){
    color: rgb(164, 164, 0);
    background-color: #F0F0F0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: left;
    text-decoration: underline;
   
    
}
h1{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    
}

.pie-image{
    height:250px;
    width: 250px;
}

.comment{
    background-color: #FFFFA8;;
    margin-left:25px;
}

.footer-content{
    width:15%;
    text-align: right;
    font-family: monospace;
}

.validator-img{
    height:50px;
    width:80px;
}


